.secao-chamativa{
  background-image: url("../../assets/img/imagen-chamativa.jpg");
  height: 400px; width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  filter: blur(0.7px) brightness(85%);
}
.secao-chamativa h2{
  margin: 0;
  padding-top: 140px;
  font-size: 4.1rem;
  color: #fafafa;
  font-weight: bolder;
  filter: blur(0px);
}
#hr-chamativo{
  height: 4px;
  border-top: 5px solid #ffffff;
  width: 60%;
}