<p id="notice"><%= notice %></p>

<p>
  <strong>Cep:</strong>
  <%= @adress.cep %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @adress.estado %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @adress.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @adress.cidade %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @adress.nome %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @adress.rua %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @adress.complemento %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @adress.numero %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @adress.tipo %>
</p>

<%= link_to 'Edit', edit_adress_path(@adress) %> |
<%= link_to 'Back', adresses_path %>
