.produto-geral{
  height: 250px; width: 320px;
  display: flex;
  margin: 0 30px;
}
.produto-geral img{
  height: 100%; width: 150px;
  margin-right: 10px;
}
.descricao-produto-geral{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bolder;
  color: #333333;
}
.descricao-produto-geral p{
  margin: 0;
}
.bto-produtos{
  width: 80px;
}
