#escura{
  background-color: #333333;
  width: 150px;
  width: 150px;
  height: 3px;
}
div.modal div.modal-input-2 div input{
  width: 100px;
}
div.modal div.modal-input-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#bto-buscar{
  margin: 0;
}