.header{
  max-height: 80px;
  background-color: #457B9D;
  font-size: 1.2rem;
}
.header div{
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header div img{
  width: 90px;
  height: 70px;
}
.header div ul li a{
  text-decoration: none;
  color: #F1FAEE;
}
.header div ul{
  width: 250px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

