<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Imagem</th>
      <th>Descricao</th>
      <th>Categoria</th>
      <th>Preco</th>
      <th>Likes</th>
      <th>Peso</th>
      <th>Dimensao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.nome %></td>
        <td><%= product.imagem %></td>
        <td><%= product.descricao %></td>
        <td><%= product.categoria %></td>
        <td><%= product.preco %></td>
        <td><%= product.likes %></td>
        <td><%= product.peso %></td>
        <td><%= product.dimensao %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
