.footer{
  position: absolute;
  bottom: 0px;
  height: 120px;
  width: 100%;
  background-color: #333333;
  font-weight: bolder;
  color: #F1FAEE;
}
.container-footer{
  width: 900px; height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  text-align: center;
  block-size: auto;
}
.icones a img{
  height: 35px; width: 35px;
  margin: 0 10px;
}
.icones-copyrights p{
  margin: 0;
}
.icones-copyrights{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.desenvolvido p{
  margin-top: 87px;
  margin-bottom: 0px;
}
.x{
  height: 120px;
}