<%= form_with(model: stock, local: true) do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_product %>
    <%= form.number_field :id_product %>
  </div>

  <div class="field">
    <%= form.label :unidade %>
    <%= form.number_field :unidade %>
  </div>

  <div class="field">
    <%= form.label :quantidade_vendas %>
    <%= form.number_field :quantidade_vendas %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
