<p id="notice"><%= notice %></p>

<p>
  <strong>Id product:</strong>
  <%= @stock.id_product %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @stock.unidade %>
</p>

<p>
  <strong>Quantidade vendas:</strong>
  <%= @stock.quantidade_vendas %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
