<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @sale.data %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<p>
  <strong>Produtos:</strong>
  <%= @sale.produtos %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
