<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Frete:</strong>
  <%= @order.frete %>
</p>

<p>
  <strong>Carrinho:</strong>
  <%= @order.carrinho %>
</p>

<p>
  <strong>Forma pagamento:</strong>
  <%= @order.forma_pagamento %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
